.navbar {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
}

.logo {
    transform: scale(2);
}

.cont-img {
    text-align: center;
    position: relative;
}
.cont-img .leia {
    max-width: 400px;
    border-radius: 50%;
}

#texto, #foto {
    align-content: center;
}



@media screen and (max-width: 1080px) {
    .cont-img .leia {
        width: 45vw;
        padding-bottom: 2rem;
    }
}
@media screen and (max-width: 768px) {
    .cont-img .leia {
        width: 100%;
    }
}

@media screen and (min-width: 1081px) {
    .cont-img img {
        width: 40vw;
    }
}