.navbar {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
}

.logo {
    transform: scale(2);
}

#foto {
    align-items: center;
    padding-left: 10%;
    margin-top: 3%;
}

#foto img {
    border-radius: 50%;
}

#texto {
    padding-right: 10%;
    padding-left: 10%;
    margin-top: 3%;
}

#texto p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}

#titulo {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-bottom: 1% black;
}
